.navbar {
  height: 100vh;
  width: 240px;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: var(--ds-primary);
}

.navbarMain {
  flex: 1;
}

.header {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: var(--mantine-spacing-md);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: rgba(255, 255, 255, 0.8);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  margin-bottom: 4px;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.link[data-active] {
  background-color: var(--ds-accent);
  color: white;
}

.linkIcon {
  color: inherit;
  margin-right: var(--mantine-spacing-sm);
  width: 24px;
  height: 24px;
}
