# Supabase Configuration (for Authentication)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Buildpad DaaS Configuration (for Data as a Service)
NEXT_PUBLIC_BUILDPAD_DAAS_URL=

# AI Configuration (For Copilot and OCR Features)
GOOGLE_GENERATIVE_AI_API_KEY=

# Microservice Configuration
NEXT_PUBLIC_MICROSERVICE_URL_MAIN=
